mixin video(info)
   div
        h4=info.title
            ul 
                li #{info.rating}/5
                li #{info.commetns} commetns.
                li Posted #{info.createdAt}
                lii #{info.views} views.