extends base.pug



block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__volume
                    span#mute
                        i.fas.fa-volume-up
                    input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    div.videoControls__time
                        span#currenTime 00:00
                        span  / 
                        span#totalTime 00:00
                    div#fullScreen__box
                        span#fullScreen
                            i.fas.fa-expand

    div.video__data
        p.video__title=video.title
        hr
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
            span &nbsp;
            a.video__owner-name(href=`/users/${video.owner._id}`)=video.owner.name
            small.video__owner 님의 동영상 
        br
        if String(video.owner._id) === String(loggedInUser._id)
            div.video__editDelete-box
                a.video__edit-btn(href=`${video.id}/edit`) 비디오 수정 
                br
                a.video__delete-btn(href=`${video.id}/delete`) 비디오 삭제 
        br
        br
        hr

    if loggedIn
        div.video__add-comments#video__comments-box
            form.video__comment-form#commentForm
                div#video__comment-textarea-box
                    textarea#video__comment-textarea(placeholder="댓글 추가..")
                    div#video__comment__button-box
                        span#video__comment__cancle-button 취소
                        button#video__comment__write-button 작성

    div.video__comments
        ul  
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    if loggedIn && (loggedInUser._id === String(comment.owner)) 
                        img.header__avatar(src="/" + avatarUrl)
                    div
                        span.user__name=`${userName}`
                        span.user__comment  #{comment.text}


block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")  
